""Python map() function""
The map() function executes a specific function for each item in an iterable. The item is sent to the function as a parameter.
Syntax: map(function, iterables)
function: Required. The function to execute for each item in the iterable
iterable: Required. A sequence, collection or an iterator object. You can send as many iterables as you like, just make sure that the function has one parameter for each iterable.

In [1]:
def funct(mystr):
    return len(mystr)
list1 = list(map( funct,['Sunday','Saturday','Thursday','Friday']))
print(list1)

[6, 8, 8, 6]

In [3]:
def funct(par1, par2):
    return par1 + par2
list1 = list(map(funct,['Sund','Satu','Fr','Thursd'], ['ay','rday','iday','ay'])) #string concatenation 
print(list1)
list1 = list(map(funct,[1000,2000,4000,3000],[11,2,44,33])) #algebric addition
print(list1)

['Sunday', 'Saturday', 'Friday', 'Thursday']
[1011, 2002, 4044, 3033]

In [4]:
list1 = list(map(int, input("Please enter a set of numbers: ").split()))
print(list1)

Please enter a set of numbers:  11 33 22 55 44 66 55 77

[11, 33, 22, 55, 44, 66, 55, 77]

In [5]:
mystr = input("Please enter a set of numbers: ")
print(mystr, type(mystr))
list1 = mystr.split()
print(list1, type(list1[0]), type(list1))

Please enter a set of numbers:  11 33 22 44 55 66 55 77

11 33 22 44 55 66 55 77 <class 'str'>
['11', '33', '22', '44', '55', '66', '55', '77'] <class 'str'> <class 'list'>

In [6]:
def funct(par1, par2):
    return par1 * par2
list1 = list(map(funct, ['Hi ', 'Hello ', 'Bro ', 'Hey '], [2, 3, 4, 3]))
print(list1)
list1 = list(map(funct, [1000, 2000, 4000, 3000], [2, 3, 4, 2]))
print(list1)

['Hi Hi ', 'Hello Hello Hello ', 'Bro Bro Bro Bro ', 'Hey Hey Hey ']
[2000, 6000, 16000, 6000]

In [13]:
def funct(par1, par2):
    return par1 if (par1 > par2) else par2
list1 = list(map(funct, [100, 200, 400, 300], [300,200,100,900,300,450]))
print(list1)

[300, 200, 400, 900]

In [10]:
def funct(par1, par2):
    return par1 + " " + par2
list1 = list(map(funct,['Subham','Rounak','Abhiraj','Sheetal'], ['Bhattacharya','Guha','Bose','Roy'])) #string concatenation 
print(list1)

['Subham Bhattacharya', 'Rounak Guha', 'Abhiraj Bose', 'Sheetal Roy']

In [15]:
def funct(marks):
    if(marks >= 80): return "Grade-A"
    elif(marks >= 60): return "Grade-B"
    else: return "Grade-C"
list1 = list(map(funct,[40, 65, 90, 55, 95, 66]))
print(list1)

['Grade-C', 'Grade-B', 'Grade-A', 'Grade-C', 'Grade-A', 'Grade-B']

In [16]:
mystr = 'asAnSol enGineering coLLegE'
print(mystr)
print(mystr.upper())
print(mystr.lower())
print(mystr.swapcase())
print(mystr.capitalize())
print(mystr.title())
print(mystr.center(60))
print(mystr.upper().center(60))

asAnSol enGineering coLLegE
ASANSOL ENGINEERING COLLEGE
asansol engineering college
ASaNsOL ENgINEERING COllEGe
Asansol engineering college
Asansol Engineering College
                asAnSol enGineering coLLegE
                ASANSOL ENGINEERING COLLEGE

In [17]:
def funct(fname, lname):
    return (fname + " " + lname).title()
list1 = list(map(funct, ["aNiRbAn", 'mADhu', 'BItan'], ['BasU', 'sinGh', 'aDhikARi']))
print(list1)

['Anirban Basu', 'Madhu Singh', 'Bitan Adhikari']

In [18]:
def funct(age):
    if (age >= 18): return True
    else: return False
ages = [11,90, 25,12, 34,20,7]
adults = list(filter(funct, ages))
print(adults)

[90, 25, 34, 20]

In [19]:
def funct(num):
    if (num%2 == 0): return True
    else: return False
numbs = [11,90, 25,12, 34,20,7]
even = list(filter(funct, numbs))
print(even)

[90, 12, 34, 20]

In [20]:
def funct(mystr): 
    
    if (mystr.lower() == mystr[::-1].lower()): 
        return True
    return False
palindrome_words = list(filter(funct,['sunday','deed','even','did','MadAm']))
print(palindrome_words)

['deed', 'did', 'MadAm']

In [21]:
even_numbers = list(filter(lambda num: True if(num % 2 == 0) else False, [200, 3004, 2001, 405, 6008, 42]))
print(even_numbers)

[200, 3004, 6008, 42]

In [23]:
from functools import reduce
def funct(first_num, second_num):
    print(first_num , second_num)
    return first_num + second_num
result = reduce(funct, [100,300,200,500,400])
print(result)

100 300
400 200
600 500
1100 400
1500

In [24]:
result = reduce(funct, [100,300,200,500,400],5000)
print(result)

5000 100
5100 300
5400 200
5600 500
6100 400
6500

In [25]:
from functools import reduce
def funct(first_num, second_num):
    return first_num if(first_num >= second_num) else second_num
result = reduce(funct, [100,300,200,500,400])
print(result)

500

## Python Zip() Function

In [26]:
fruits = ['mango','pineapple','banana','cherry']
quantities = [400, 650, 200, 500]
print(zip(fruits,quantities))
print(list(zip(fruits,quantities)))
print(tuple(zip(fruits,quantities)))
print(list(zip(fruits,quantities)))
print(dict(zip(fruits,quantities)))

<zip object at 0x10f326180>
[('mango', 400), ('pineapple', 650), ('banana', 200), ('cherry', 500)]
(('mango', 400), ('pineapple', 650), ('banana', 200), ('cherry', 500))
[('mango', 400), ('pineapple', 650), ('banana', 200), ('cherry', 500)]
{'mango': 400, 'pineapple': 650, 'banana': 200, 'cherry': 500}

## Cartesian product of list elements

In [28]:
from itertools import product
list1 = ['apple', 'mango', 'cherry']
list2 = [200,300,100]
print(product(list1,list2))
print(list(product(list1, list2)))

<itertools.product object at 0x10f33a580>
[('apple', 200), ('apple', 300), ('apple', 100), ('mango', 200), ('mango', 300), ('mango', 100), ('cherry', 200), ('cherry', 300), ('cherry', 100)]

In [31]:
from bisect import bisect_right
from bisect import bisect_left
list1 = [11,22,33,44,55,66,77,88]
print(bisect_left(list1, 50), bisect_right(list1, 50))
print(bisect_left(list1, 30), bisect_right(list1, 30))
print(bisect_left(list1, 33), bisect_right(list1, 33))
print(bisect_left(list1, 77), bisect_right(list1, 77))

4 4
2 2
2 3
6 7

In [33]:
import itertools
var1 = itertools.cycle([100,False, [11,22,33], 56.78, (400,500)])
print(next(var1))
print(next(var1))
print(next(var1))
print(next(var1))
print(next(var1))
print(next(var1))
print(next(var1))
print(next(var1))

100
False
[11, 22, 33]
56.78
(400, 500)
100
False
[11, 22, 33]

In [37]:
list1 =[]
for x in range(10):
    list1.append(x**2)
print(list1)

list1 = [x**2 for x in range(10)]
print(list1)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [35]:
list1 = []
for power in range(10):
    list1.append(2 ** x)
print(list1)

list1 = [2 ** x for x in range(10)]
print(list1)

[512, 512, 512, 512, 512, 512, 512, 512, 512, 512]
[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [38]:
list1 = [1,2,3,4,5,6,7,8,9,10]
list2 = []
for x in list1:
    if (x % 2 ==0 ):
        list2.append(x)
print(list2)

list2 = [x for x in list1 if x % 2 == 0 ]
print(list2)

[2, 4, 6, 8, 10]
[2, 4, 6, 8, 10]

In [44]:
list1 = [11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 24]
list2 = []
for x in list1:
    if (x % 2 == 0):
        if (x % 3 == 0):
            list2.append(x)
print(list2)

# list comprehension
list2 = [x for x in list1 if x % 2 == 0 if x % 3 == 0 ]
print(list2)

list2 = [x for x in list1 if x % 2 == 0 and x % 3 == 0 ]
print(list2)

[12, 18, 24]
[12, 18, 24]
[12, 18, 24]

In [47]:
list1 = [11,22,33,44,55,66,77,88]
list1 = []
for x in list1:
    if (x >= 44):
        list2.append(x + 100)
    else:
        list2.append(x + 500)
print(list2)  

# list comprehension
list2 = [x + 100 if (x >= 44) else x + 500 for x in list1]
print(list2)

[12, 18, 24]
[]

In [48]:
list1 = [[11,22,33],[44,555,66],[77,88,99]]
list2 = []
for temp_list in list1:
    for item in temp_list:
        list2.append(item)
print(list2)

# list comprehension
list2 = [item for temp_list in list1 for item in temp_list]
print(list2)

[11, 22, 33, 44, 555, 66, 77, 88, 99]
[11, 22, 33, 44, 555, 66, 77, 88, 99]

In [51]:
matrix = [[11,22,33],[44,55,66],[77,88,99]]
list1 = []
for i in range(3):
    temp_list = []
    for j in range(3):
        temp_list.append(matrix[i][j])
    list1.append(temp_list)
print(list1)

# nested list comprehension, transpose of the matrix
list1 = [[matrix[i][j] for j in range(3)] for i in range(3)]
print(list1)
list1 = [[temp_list[i] for temp_list in matrix] for i in range(3)]
print(list1)

[[11, 22, 33], [44, 55, 66], [77, 88, 99]]
[[11, 22, 33], [44, 55, 66], [77, 88, 99]]
[[11, 44, 77], [22, 55, 88], [33, 66, 99]]

In [57]:
list1 = []
for x in range(3):
    temp_list = []
    for y in range(5):
        temp_list.append(0)
    list1.append(temp_list)
print(list1)

# list comprehension
list2= [[temp_list for y in range(5)] for x in range(3)]
print(list1)

[[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]]
[[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]]

In [ ]:
list1 = []
for x in range(4):
    temp_list = []
    for y in range(x):
        temp_list.append(0)
    list1.append(temp_list)
print(list1)

In [ ]:
#using lambda

In [58]:
#using filter function
list1 = [11,22,33,44,55,66,77,88]
oddnum = list(filter(lambda x: x%2,list1))
print(oddnum)

# list comprehension
oddnum = [x for x in list1 if x%2 ==1]
print(oddnum)

[11, 33, 55, 77]
[11, 33, 55, 77]

In [59]:
# using reduce function
from functools import reduce
list1 = [11, 22, 33, 44, 55, 66, 77, 88]
result = reduce(lambda x, y: x + y, list1)
print(result)

# list comprehension
result = sum([x for x in list1])
print(result)

396
396